web/WEB-INF/wsdl/localhost_8080/ServiceSuma/SumarNumeros.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><xs:schema xmlns:tns="http://Suma/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Suma/">

<xs:element name="Multiplicacion" type="tns:Multiplicacion"/>

<xs:element name="MultiplicacionResponse" type="tns:MultiplicacionResponse"/>

<xs:element name="Resta" type="tns:Resta"/>

<xs:element name="RestaResponse" type="tns:RestaResponse"/>

<xs:element name="sumar" type="tns:sumar"/>

<xs:element name="sumarResponse" type="tns:sumarResponse"/>

<xs:complexType name="sumar">
<xs:sequence>
<xs:element name="Numero1" type="xs:int"/>
<xs:element name="Numero2" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="sumarResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Multiplicacion">
<xs:sequence>
<xs:element name="Numero1" type="xs:int"/>
<xs:element name="Numero2" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="MultiplicacionResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Resta">
<xs:sequence>
<xs:element name="Numero1" type="xs:int"/>
<xs:element name="Numero2" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="RestaResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:schema>