src/conf/xml-resources/web-service-references/SumarNumeros/wsdl/localhost_8080/ServiceSuma/SumarNumeros.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Suma/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Suma/" name="SumarNumeros">
<types>
<xsd:schema>
<xsd:import namespace="http://Suma/" schemaLocation="http://localhost:8080/ServiceSuma/SumarNumeros?xsd=1"/>
</xsd:schema>
</types>
<message name="sumar">
<part name="parameters" element="tns:sumar"/>
</message>
<message name="sumarResponse">
<part name="parameters" element="tns:sumarResponse"/>
</message>
<message name="Resta">
<part name="parameters" element="tns:Resta"/>
</message>
<message name="RestaResponse">
<part name="parameters" element="tns:RestaResponse"/>
</message>
<message name="Multiplicacion">
<part name="parameters" element="tns:Multiplicacion"/>
</message>
<message name="MultiplicacionResponse">
<part name="parameters" element="tns:MultiplicacionResponse"/>
</message>
<portType name="SumarNumeros">
<operation name="sumar">
<input wsam:Action="http://Suma/SumarNumeros/sumarRequest" message="tns:sumar"/>
<output wsam:Action="http://Suma/SumarNumeros/sumarResponse" message="tns:sumarResponse"/>
</operation>
<operation name="Resta">
<input wsam:Action="http://Suma/SumarNumeros/RestaRequest" message="tns:Resta"/>
<output wsam:Action="http://Suma/SumarNumeros/RestaResponse" message="tns:RestaResponse"/>
</operation>
<operation name="Multiplicacion">
<input wsam:Action="http://Suma/SumarNumeros/MultiplicacionRequest" message="tns:Multiplicacion"/>
<output wsam:Action="http://Suma/SumarNumeros/MultiplicacionResponse" message="tns:MultiplicacionResponse"/>
</operation>
</portType>
<binding name="SumarNumerosPortBinding" type="tns:SumarNumeros">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="sumar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Resta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Multiplicacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="SumarNumeros">
<port name="SumarNumerosPort" binding="tns:SumarNumerosPortBinding">
<soap:address location="http://localhost:8080/ServiceSuma/SumarNumeros"/>
</port>
</service>
</definitions>